<h2>Lista tematów</h2>
<ul class="menu">
    {{ $basicExpand := false }}
    {{ $nerdExpand := false }}
    <li class="section" id="basic-section">
        <!-- Basic topics -->
        <a class="section-dropdown">
            <span class="section-title">Tematy podstawowe</span>
                <img class="expand-img" alt="Rozwiń">
        </a>
        <ul class="submenu">
            {{ range where (sort .Site.RegularPages "Params.id") ".Params.nerd" false }}
                {{ if eq .Permalink $.Permalink }}
                    {{ $basicExpand = true }}
                {{ end }}
                <li><a href="{{ .RelPermalink }}" class="submenu-article" {{ if eq .Permalink $.Permalink }}id="aktualny-temat"{{ end }}>{{ .Params.id }}. {{ .Title }}</a></li>
            {{ end }}
        </ul>
    </li>

    <li class="section" id="advanced-section">
        <!-- Advanced topics -->
        <a class="section-dropdown">
            <span class="section-title">Tematy zaawansowane</span>
            <img class="expand-img" alt="Rozwiń">
        </a>
        <ul class="submenu">
            {{ range where (sort .Site.RegularPages "Params.id") ".Params.nerd" true }}
                {{ if eq .Permalink $.Permalink }}
                    {{ $nerdExpand = true }}
                {{ end }}
                <li><a href="{{ .RelPermalink }}" class="submenu-article" {{ if eq .Permalink $.Permalink }}id="aktualny-temat"{{ end }}>{{ .Params.id }}. {{ .Title }}</a></li>
            {{ end }}
        </ul>
    </li>

    {{ if or $basicExpand (not $nerdExpand) }}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const section = document.getElementById('basic-section');
                const content = section.querySelector('.submenu');
                const img = section.querySelector('.expand-img');
                window.rotateArrow(img, true);
                window.expandCollapseSection(content, true);
            });
        </script>
    {{ end }}

    {{ if $nerdExpand }}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const section = document.getElementById('advanced-section');
                const content = section.querySelector('.submenu');
                const img = section.querySelector('.expand-img');
                window.rotateArrow(img, true);
                window.expandCollapseSection(content, true);
            });
        </script>
    {{ end }}
</ul>