<style>
    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    /* Dla telefonów */
    @media (max-width: 800px) {
        .desktop-only {
            display: none;
        }

        .mobile-only {
            display: flex;
        }
    }
</style>

<div class="rzad-zdjec desktop-only">
    <a href="https://um.warszawa.pl/prezydent-warszawy/" target="_blank">
        {{ with resources.Get "images/partnerships/warszawa.png" }}
        <img src="{{ .RelPermalink }}" style="min-height: 84px;">
        {{ end }}
    </a>
    <a href="https://ochota.um.warszawa.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/ochota.jpg" }}
        <img src="{{ .RelPermalink }}" style="min-height: 84px;">
        {{ end }}
    </a>
    <a href="https://piit.org.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/piit.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://not.org.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/not.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>
<div class="rzad-zdjec desktop-only">  
    <a href="https://pti.org.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/pti.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://pistacja.tv/" target="_blank">
        {{ with resources.Get "images/partnerships/pistacja.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://pasja-informatyki.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/pasja.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec desktop-only">   
    <a href="https://www.staszic.waw.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/staszic.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://sp351.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/sp351.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://spwni.edu.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/iwiczna.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://przeglad-techniczny.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/przeglad_techniczny.jpg" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec desktop-only">
    <a href="https://piasecznonews.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/piaseczno-news.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="http://www.kurierpoludniowy.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/logo_kp.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec mobile-only">
    <a href="https://um.warszawa.pl/prezydent-warszawy/" target="_blank">
        {{ with resources.Get "images/partnerships/warszawa.png" }}
        <img src="{{ .RelPermalink }}" style="min-height: 84px;">
        {{ end }}
    </a>
    <a href="https://ochota.um.warszawa.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/ochota.jpg" }}
        <img src="{{ .RelPermalink }}" style="min-height: 84px;">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec mobile-only">
    <a href="https://pti.org.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/pti.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://piit.org.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/piit.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec mobile-only">
    <a href="https://not.org.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/not.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://pasja-informatyki.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/pasja.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://pistacja.tv/" target="_blank">
        {{ with resources.Get "images/partnerships/pistacja.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec mobile-only">
    <a href="https://www.staszic.waw.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/staszic.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://sp351.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/sp351.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="https://spwni.edu.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/iwiczna.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec mobile-only">
    <a href="https://piasecznonews.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/piaseczno-news.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>

<div class="rzad-zdjec mobile-only">
    <a href="https://przeglad-techniczny.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/przeglad_techniczny.jpg" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
    <a href="http://www.kurierpoludniowy.pl/" target="_blank">
        {{ with resources.Get "images/partnerships/logo_kp.png" }}
        <img src="{{ .RelPermalink }}">
        {{ end }}
    </a>
</div>